{
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "sort-destructure-keys"
  ],
  "rules": {
    "new-cap": "off",
    "prettier/prettier": "error",
    "sort-destructure-keys/sort-destructure-keys": "error",
    "sort-imports": "error",
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": false
      }
    ]
  }
}
