extends ../base

block content
  .container.py-5
    .row
      each applet in applets
        .col-sm-6.col-md-4.col-lg-3.mb-4
          +applet(applet)
  if user.verified
    include ../forms/change-email
    include ../forms/change-password
    include ../forms/change-timezone

block scripts
  if modal === 'email'
    script.
      $('#changeEmailModal').modal('show');
  else if modal === 'password'
    script.
      $('#changeEmailPassword').modal('show');
  else if modal === 'timezone'
    script.
      $('#changeTimezoneModal').modal('show');
