extends ../base

block content
    h1 Change password
    form(action=`/change-password`, method='POST')
        input(type='hidden', name='_csrf', value=csrfToken)
        label(for='oldPassword') Current password
        input#oldPassword(type='password', name='oldPassword', required)
        label(for='newPassword') New password
        input#newPassword(type='password', name='newPassword', required)
        label(for='repeatedNewPassword') Repeat new password
        input#repeatedNewPassword(type='password', name='repeatedNewPassword', required)
        button(type='submit') Change password