extends ../base

block content
  p Welcome #{user.username}. This is homepage.
  p
    a(href='/providers') Providers
  p
    a(href='/user/change-password') Change password
  p
    a(href='/user/change-email') Change email
  p
    a(href='/auth/sign-out') Log out
  h1 Applets
  each applet in applets
    p
      div= applet.name
      div= applet.description
      if applet.subscribed
        div You are subscribed to this applet
      div To get subscribed continue
        |
        |
        a(href=applet.homepage) here

  else
    div No applets found
