extends ../base

block content
  p Welcome #{user.username}. This is homepage.
  p
    a(href='/providers') Providers
  p
    a(href='/change-password') Change password
  p
    a(href='/change-email') Change email
  p
    a(href='/sign-out') Log out
