extends ../base

block content
  h1 Providers
  each provider in providers
    #provider.id
      p
        b Name: #{provider.name}
      if provider.token
        p Your account is already connected
      else
        a(href=provider.authUrl + `&state=providerId:${provider.id}`) Authorize
  else
    div No providers :(
