extends ../base

block content
  form(action=`/reset-password/${token}`, method='POST')
    input(type='hidden', name='_csrf', value=csrfToken)
    label(for='password') Password
    input#password(type='password', name='password', required)
    label(for='repeatedPassword') Repeat password
    input#repeatedPassword(type='password', name='repeatedPassword', required)
    button(type='submit') Change password
  a(href='/sign-in') Go back to login
