extends ../../../views/base

block content
  h1 This is Dropbox watcher applet
  if userApplet
    form(
      action=`/applets/dropbox-watcher/unsubscribe/${userApplet.identifier}`,
      method='POST'
    )
      input(type='hidden', name='_csrf', value=csrfToken)
      button(type='submit') Unsubscribe
  else
    a(href=AUTH_URL) Subscribe
