.cloud-wrapper
  .cloud.cloud-in-back
  .cloud.cloud-in-back
  .cloud.cloud-in-front
  .cloud.cloud-in-front
  .cloud.cloud-in-back
  .cloud.cloud-in-front
  .cloud.cloud-in-back
  .cloud.cloud-in-back
  .cloud.cloud-in-front
  .cloud.cloud-in-front
  .cloud.cloud-in-back
  .cloud.cloud-in-front
  .cloud.cloud-in-back
  .cloud.cloud-in-back
  .cloud.cloud-in-front
  .cloud.cloud-in-front
  .cloud.cloud-in-back
  .cloud.cloud-in-front
  .cloud.cloud-in-back
  .cloud.cloud-in-front
