extends ../base

block content
  h1 Change password
  form(action=`/user/change-password`, method='POST')
    input(type='hidden', name='_csrf', value=csrfToken)
    label(for='oldPlainPassword') Current password
    input#oldPlainPassword(type='password', name='oldPlainPassword', required)
    label(for='plainPassword') New password
    input#plainPassword(type='password', name='plainPassword', required)
    label(for='repeatedPlainPassword') Repeat new password
    input#repeatedPlainPassword(
      type='password',
      name='repeatedPlainPassword',
      required
    )
    button(type='submit') Change password
