extends ../base

block content
  .d-flex.align-items-center.justify-content-center.ifttt-fill-height.p-5.text-center
    h1 Your account is locked. This is most likely because you have not verified it yet. Check your email!
