extends ../base

block content
  p Enter your email and we will send you a link to reset your password
  form(action='/auth/forgotten-password', method='POST')
    input(type='hidden', name='_csrf', value=csrfToken)
    label(for='username') Username
    input#username(type='text', name='username', required)
    button(type='submit') Reset password
  a(href='/auth/sign-in') Go back to login
