extends ../base

block content
  form(action=`/auth/reset-password/${identifier}`, method='POST')
    input(type='hidden', name='_csrf', value=csrfToken)
    label(for='plainPassword') Password
    input#plainPassword(type='password', name='plainPassword', required)
    label(for='repeatedPlainPassword') Repeat password
    input#repeatedPlainPassword(
      type='password',
      name='repeatedPlainPassword',
      required
    )
    button(type='submit') Change password
  a(href='/auth/sign-in') Go back to login
